@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root{
    --bg-color: #002954;  
    --snd-bg-color: #03387c;
    --text-color: #fff;
    --main-color: #f4598f;
}

html{
    font: 62.5%;
    overflow-x:hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 8rem 5% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-item{
    font-size: 3.2rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 1rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 20vw;
    border-radius: 50%;
    animation: floatImage 4s ease-in-out infinite;
    box-shadow: 0 0 10px rgba(245, 89, 143, 0.8), 0 0 20px rgba(245, 89, 143, 0.6), 0 0 30px rgba(245, 89, 143, 0.4);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
        box-shadow: 0 0 10px rgba(245, 89, 227, 0.8), 0 0 20px rgba(245, 89, 227, 0.6), 0 0 30px rgba(245, 89, 227, 0.4);
    }
    50% {
        transform: translateY(-2.4rem);
        box-shadow: 0 0 20px rgba(33, 117, 252, 0.8), 0 0 30px rgba(33, 117, 252, 0.6), 0 0 40px rgba(33, 117, 252, 0.4);
    }
    100% {
        transform: translateY(0);
        box-shadow: 0 0 10px rgba(245, 89, 227, 0.8), 0 0 20px rgba(245, 89, 227, 0.6), 0 0 30px rgba(245, 89, 227, 0.4);
    }
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background-color: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1 rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background:var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .home-content h1 {
        font-size: 4rem; 
    }

    .home-img img {
        width: 70vw; 
        max-width: 300px; 
    }

    .home-content p {
        font-size: 1.4rem; 
    }

    .social-media a {
        width: 3rem;
        height: 3rem; 
        font-size: 1.5rem; 
        margin: 0.5rem; 
    }

    .btn {
        padding: 0.8rem 2.2rem;
        font-size: 1.4rem; 
    }
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bf-color);
}

.about-img img {
    border: 0.3rem solid transparent;
    border-radius: 10%;
    padding: 0.5rem;
    width: 30vw;
    animation: neonBorder 1.5s infinite alternate;
}

@keyframes neonBorder {
    0% {
        border-color: rgba(245, 89, 143, 0.8);
        box-shadow: 0 0 10px rgba(245, 89, 143, 0.8), 0 0 20px rgba(245, 89, 143, 0.6), 0 0 30px rgba(245, 89, 143, 0.4);
    }
    100% {
        border-color: rgba(89, 245, 206, 0.8);
        box-shadow: 0 0 10px rgba(89, 245, 206, 0.8), 0 0 20px rgba(89, 245, 206, 0.6), 0 0 30px rgba(89, 245, 206, 0.4);
    }
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
    text-align: justify;
}

.code {
    display: flex;
    flex-wrap: wrap;
}

.code .btn2 {
    display: inline-block;
    padding: 0.4rem 1.4rem; 
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.2rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    margin: 5px;
}

.code .btn2:hover {
    box-shadow: none;
}

@media only screen and (max-width: 480px) {
    .heading {
        font-size: 3rem; 
    }

    .about-content h2 {
        font-size: 2rem; 
    }

    .about-content h3 {
        font-size: 1.8rem; 
    }

    .about-content p {
        font-size: 1.4rem;
    }

    .code .btn2 {
        padding: 0.3rem 1.2rem;
        font-size: 1rem; 
    }
}


.skills h2 {
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-container .skills-box {
    flex: 1 1 20rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-container b{
    color: var(--main-color);
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
}

@media (max-width: 768px) {
    .skills-container .skills-box {
        flex-basis: calc(50% - 2rem);
    }
}

.projects {
    padding: 8rem 5% 2rem;
}

.projects .heading {
    text-align: center;
    font-size: 4rem;
}

.projects .heading span {
    color: var(--main-color);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
}

.projects-box {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
}

.projects-box img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.projects-box:hover img {
    transform: scale(1.05);
}

.project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
    opacity: 0;
}

.projects-box:hover .project-layer {
    opacity: 1;
}

.project-layer h4 {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.project-layer p {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 1rem;
}

.project-layer i {
    font-size: 2rem;
    color: var(--main-color);
}

.project-layer i:hover{
    font-size: 2rem;
    color: #888;
}

.contact {
    padding: 8rem 5% 2rem;
    background-color: var(--bg-color); 
    color: var(--text-color);
}

.contact .heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact .heading span {
    color: var(--main-color);
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.6rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.6rem;
    background-color: transparent; 
    color: #fff; 
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.contact-form textarea {
    resize: vertical;
    min-height: 150px;
}

.contact-form button {
    width: 50%;
    margin-left: 25%;
    padding: 1rem;
    background-color: #f4598f;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--text-color);
    color: var(--main-color);
    box-shadow: 10px #fff;
}

@media (max-width: 768px) {
    .contact .heading {
        font-size: 3.5rem;
    }
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
    transition: border-color 0.3s ease;
}

/* Animation on focus */
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* Animation on hover */
.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
    border-color: var(--main-color);
}

/* Animation on valid input */
.contact-form input[type="text"]:valid,
.contact-form input[type="email"]:valid,
.contact-form textarea:valid {
    border-color: #2ecc71;
}

/* Animation on invalid input */
.contact-form input[type="text"]:invalid,
.contact-form input[type="email"]:invalid,
.contact-form textarea:invalid {
    border-color: #e74c3c;
}
@keyframes placeholder {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.contact-form input[type="text"]::placeholder,
.contact-form input[type="email"]::placeholder,
.contact-form textarea::placeholder {
    animation: placeholder 1.5s infinite;
}

.footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 3rem 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.footer-column {
    flex: 1 1 25%;
    margin-bottom: 2rem;
}

.footer h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.footer p {
    font-size: 1.4rem;
    line-height: 1.5;
}

.footer a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--snd-bg-color);
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #888;
}

.footer-social {
    display: flex;
    gap: 2rem; 
    margin-top: 1rem;
}

.footer-social a {
    color: var(--main-color);
    font-size: 3rem;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: var(--text-color);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer-social {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    .navbar{
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    #menu-item {
        font-size: 2.8rem;
    }

    /* Home Section */
    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 4.5rem;
    }

    .home-img img {
        width: 30vw;
    }

    /* About Section */
    .about-img img {
        width: 50vw;
    }

    .heading {
        font-size: 3.5rem;
    }

    .about-content h2 {
        font-size: 2.2rem;
    }

    .about-content h3 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1.4rem;
    }

    /* Skills Section */
    .skills h2 {
        margin-bottom: 3rem;
    }

    .skills-box i {
        font-size: 5rem;
    }

    .skills-box h3 {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    .project-container {
        gap: 1.5rem;
    }

    .contact-form {
        max-width: 100%;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1.4rem;
        padding: 0.8rem;
    }

    .contact-form button {
        padding: 0.8rem;
        font-size: 1.4rem;
    }
}
